@import "variables";

.main-content {
  &.blurred {
    filter: blur(5px);
    pointer-events: none;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  padding-inline: 150px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 20px;
  margin-left: 150px;
  min-height: calc(100vh - 100px);
  position: relative;

  .hero-intro {
    font-family: "SF Mono Regular";
    color: $ascent-col;
    font-size: 16px;
  }

  .hero-headers {
    font-weight: 600;
    font-size: clamp(40px, 8vw, 80px);

    p {
      color: $header-col;
    }
  }

  .hero-description {
    font-size: 20px;
    line-height: 26px;
    max-width: 690px;
  }

  @keyframes bouncing {
    0% {
      transform: translate(0);
    }

    50% {
      transform: translate(0, 10px);
    }

    100% {
      transform: translate(0);
    }
  }

  .scroll-arrows {
    position: absolute;
    bottom: 0;
    left: calc(50% - 90px);
    font-size: 34px;
    color: $ascent-col;
    transition: ease-out 0.2s;
    animation: bouncing 2s infinite;
  }

  .scroll-arrows:hover {
    filter: drop-shadow(0 0 2px $ascent-col);
  }
}

@media screen and (width <= 1094px) {
  .content-container {
    padding-inline: 0;
  }
}
