@import "variables";

.main-content {
  &.blurred {
    filter: blur(5px);
    pointer-events: none;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  padding-inline: 150px;
}

// H E R O  S E C T I O N
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 20px;
  margin-left: 150px;
  min-height: calc(100vh - 100px);
  position: relative;

  .hero-intro {
    font-family: "SF Mono Regular";
    color: $ascent-col;
    font-size: 16px;
  }

  .hero-headers {
    font-weight: 600;
    font-size: clamp(40px, 8vw, 80px);

    p {
      color: $header-col;
    }
  }

  .hero-description {
    font-size: 20px;
    line-height: 26px;
    max-width: 690px;
  }

  @keyframes bouncing {
    0% {
      transform: translate(0);
    }

    50% {
      transform: translate(0, 10px);
    }

    100% {
      transform: translate(0);
    }
  }

  .scroll-arrows {
    position: absolute;
    bottom: 0;
    left: calc(50% - 90px);
    font-size: 34px;
    color: $ascent-col;
    transition: ease-out 0.2s;
    animation: bouncing 2s infinite;
  }

  .scroll-arrows:hover {
    filter: drop-shadow(0 0 2px $ascent-col);
  }
}

// A B O U T  S E C T I O N
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  min-height: 90vh;
  line-height: 26px;
  max-width: 900px;

  .about-content {
    display: flex;
    column-gap: 50px;

    .about-text {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      font-size: 20px;
    }

    span {
      color: $light-ascent-col;
    }

    img {
      width: 300px;
    }
  }
}

// S K I L L S  S E C T I O N
.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  max-width: 700px;
  width: 100%;
  margin-inline: auto;

  .skills-content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    .skills-div {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      align-items: center;
      column-gap: 10px;
      row-gap: 15px;
      margin-inline: 20px;

      .div-title {
        font-size: 30px;
        color: $light-ascent-col;
      }

      .div-skills {
        display: grid;
        justify-content: flex-start;
        grid-template-columns: repeat(auto-fit, minmax(55px, auto));
        column-gap: 10px;
        row-gap: 10px;

        .div-skill {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          font-size: 40px;
          width: 50px;
          height: 50px;
          padding: 5px;
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          background-color: $card-bg-col;
          cursor: pointer;
          transition: ease 0.2s;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          position: relative;

          &:hover {
            transform: translateY(-5px);
            background-color: $card-hover-col;
          }
        }
      }
    }
  }
}

// P R O J E C T S  S E C T I O N
.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  max-width: 900px;
  width: 100%;
  scroll-margin: -20px;
  margin: 20px auto;

  .projects-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    column-gap: 20px;
    row-gap: 20px;

    .project-div {
      display: flex;
      flex-direction: column;
      background-color: $card-bg-col;
      padding: 20px;
      width: fit-content;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: ease 0.2s;

      a {
        border-radius: 8px;
        img {
          border-radius: 8px;
          width: 250px;
          aspect-ratio: 1.5 / 1;
        }
      }

      .project-details {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        padding-top: 10px;

        .project-name-git {
          display: flex;
          justify-content: space-between;
          color: white;

          a {
            text-decoration: none;
            color: white;
            font-size: 18px;

            &.project-name {
              position: relative;

              &::before {
                content: "";
                background-color: $light-ascent-col;
                width: 0;
                height: 3px;
                left: 0;
                bottom: 0;
                position: absolute;
                transition: ease 0.3s;
              }

              &:hover::before {
                width: 100%;
              }
            }

            svg {
              font-size: 24px;
              transition: ease 0.2s;

              &:hover {
                color: $light-ascent-col;
              }
            }
          }
        }

        .project-skills {
          display: flex;
          column-gap: 5px;
          font-size: 24px;
          padding-top: 8px;
        }
      }

      &:hover {
        background-color: $card-hover-col;
      }
    }
  }
}
