@import "variables";
@import "utils";

@mixin nav-link-mixing {
  display: flex;
  text-decoration: none;
  color: $header-col;
  transition: color 0.2s;

  &:hover {
    color: $ascent-col;
  }
}

nav {
  font-family: "SF Mono Regular";
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 100px;
  padding-top: 30px;

  .nav-logo {
    text-decoration: none;
    color: $ascent-col;
    font-size: 20px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    column-gap: 30px;

    .nav-link {
      @include nav-link-mixing;
      align-items: center;
      font-size: 14px;
      font-weight: 400;

      p {
        color: $ascent-col;
      }
    }
  }

  .primary-btn {
    font-size: 14px;
  }
}

.sidenav {
  font-family: "SF Mono Regular";
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  min-height: 100vh;
  width: min(75vw, 400px);
  right: -400px;
  box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.397);
  background-color: $bg-col;
  transition: ease 0.7s;
  z-index: 99;

  &.active {
    right: 0;
  }

  .sidenav-control {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 40px 0px;
    font-size: 36px;

    .sidenav-close {
      transition: ease 0.2s;
      cursor: pointer;
      margin-right: 100px;

      &:hover {
        transform: scale(1.2) rotateZ(90deg);
        color: $ascent-col;
      }
    }
  }

  .sidenav-links {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .nav-link {
    @include nav-link-mixing;
    align-items: center;
    font-size: 20px;
  }
}

.sidenav-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  top: 0;
  left: 0;
}
